*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
body{
    background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("img/bg.jpg");
    background-position:center center;
    background-size: cover;
    
    height: 100vh;
}

.header_inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: rgba(0,0,0,0.2);
}

.header_item{
    height: 30px;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition:.3s;
}

.header_item:hover{
    background-color: rgba(255,255,255,0.8);
}

.filter_wrapper{
    width: 100px;
}

.filter_wrapper:hover{
    background-color: rgba(255,255,255,0.5);

}

.filter_btn:hover{
    background-color: rgba(255,255,255,0.8);
    border-radius: 6px;
    transition:.3s;
}

#work_name{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0 10px;
    outline: none;
}

.add_btn{
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#work_type{
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    appearance: none;
    padding: 0 10px;
text-align: center;
}

.user_icon_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 120px;
}

.user_icon_wrapper img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header_icon_item{
    background:none;
}

.filter_btn,.settings_btn{
    padding: 0 10px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.board_wrapper{
    margin: 20px;
    display: flex;
}

.board{
    border-radius: 10px;
    width: 300px;
    padding-bottom: 5px;
    margin: 10px;
    background-color: rgba(255,255,255,0.7);
    height: 100%;
}

.board_header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.board_header_name{
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0 10px;
    outline: none;
}

.board_settings{
    cursor: pointer;

}

.card_body_item{
    margin: 10px;
    padding: 5px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.left{
    display: flex;
    align-items: space-around;
}

.right{
    width: 210px;
}

.reset_btn{
cursor: pointer;
}

.modal_window{
    position: absolute;
    background-color: #0000003b;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window{
    background: url('img/bgModal.jpg');
    background-position: center;
    background-size: cover;
    width: 400px;
    padding-bottom: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal_title{
    color: #fff;
    font-size: 27px;
    margin-top: 20px;
    text-align: center;
}

.input_board_name{
    resize: none;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    background-color: #00000054;
    color: #fff;
}

.input_board_color{
    background-color: #00000054;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}
.input_board_name_label, .input_board_color_label, .modal_window label{
    color: #fff;
    font-size: 20px;
}

.btn_wrapper{
    display: flex;
    margin-top: 200px;
}

.add_item_btn,.cancel_item_btn,.delete_item_btn{
    color: #fff;
    cursor: pointer;
    margin: 0 10px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid transparent;
}

.add_item_btn:hover,.cancel_item_btn:hover{
    border: 1px solid grey;
    border-radius: 5px;
}

.delete_item_btn{
    color: red;
    margin-top: 10px;
}
.delete_item_btn:hover{
    border-color: red;
    border-radius: 5px;
}

.add_board_item{
    padding: 0 10px;
    display: flex;
    cursor: pointer;
}

.add_board_item::before{
    content: "\002B";
    display: block;
    margin-right: 5px;
}

#expiredDate{
    padding: 10px;
}

.tag_wrapper{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 5px 30px;
}

.tag_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.tag_label{
    width: 30px;
    height: 30px;
    margin: 2px;
}

.tag_input{
    display: none;
}

.tag_input:checked + .tag_label{
    border: 2px solid white;
    margin: 0;
    border-radius: 50%;
}

.btn_item_wrapper{
    display: flex;
    margin-top: 20px;
}

.card_header_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card_title_item{
    font-weight: bold;
}

.card_text_item{
margin-top: 8px;
}

.card_tag{
    width: 15px;
    height: 15px;
    margin:3px;
    border-radius: 50%;
}

.tag_section{
    display: flex;
}

.card_date_item{
    margin-top: 10px;
    font-weight: bold;
}

.error{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    color: red;
    text-align: center;
    width: 100%;
    font-size: 26px;
    z-index: 3;
}

.modal_text_edit{
    resize: none;
    outline: none;
    background-color: inherit;
    color: white;
    border: none;
    margin-top: 5px;
    width: 90%;
    font-size: 15px;
    height: 250px;
}

.modal_title_edit{
    background-color: inherit;
    outline: none;
    border: none;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 24px;
}

.modal_date_edit{
  
    font-size: 15px;
    margin-bottom: 10px;

}
.btn_wrapper_edit{
    display: flex;
    margin-top: 10px;
}

.add_new_color_btn,.change_background_btn,.delete_tag_btn{
    color: white;
    padding: 5px 10px;
    border: 1px solid transparent;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add_new_color_btn:hover,.change_background_btn:hover,.delete_tag_btn:hover{
    border-color: #cccccc;
}

.input_board_color_label{
    padding-top: 15px;
}

.log_title{
    margin-top: 10px;
    color: white;
    font-size: 24px;
}

.img_title{
    margin-top: 10px;
    color:white;
    font-size: 24px;
}

.log_wrapper{
    width: 90%;
    height: 250px;
}

.input_background{
    color: white;
    margin-top: 10px;
}

.btn_wrapper_settings{
    margin-top: 10px;
}

.log_item{
    color: white;
}

.log_wrapper{
    overflow: auto;
}

.filter_wrapper{
    position: relative;
}

.filter_board{
    width: 400px;
    height: 150px;
    background-color: rgba(100, 100, 100, 0.4);
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_filter_btn, .modal_filter_btn{
    font-size: 20px;
    margin: 16px 6px 6px 6px;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

.modal_filter_btn:hover, .modal_filter_btn:hover{
    border: 1px solid #cccccc;
    margin: 15px 5px 5px 5px;
}

.filter_title{
    color: white;
    margin-top: 10px;
    font-size: 24px;
}

.drag_hide{
    opacity: 0;
}

.user_input{
    display: none;
}

.user_label:hover{
    color: #cccccc;
}

.user_label{
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.user_label > img{
    margin: 8px;
}

.user_input:checked + .user_label > img{
    border-radius: 50%;
    border: 3px solid white;
    margin: 5px;
}

.user_btn{
    color: #fff;
    cursor: pointer;
    margin: 0 10px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid transparent;
}

.user_btn:hover{
    border: 1px solid grey;
    border-radius: 5px;
}

.user_wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.user_btn_wrapper{
    display: flex;
}

.user_input_add{
    display: none;
}

.user_label_add{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.user_label_add > img{
    margin: 8px;
}

.user_input_add:checked + .user_label_add > img{
    border-radius: 50%;
    border: 3px solid white;
    margin: 5px;
}

.user_wrapper_add{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
}
